<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="main.css"  rel="stylesheet" type="text/css" />
</head>
<body>

<h1>걸그룹 댄스영상 대폭발</h1>
<p>{{ name }} 님 환영 합니다</p>
<div><a href="{{ url_for('logout')}}">로그아웃하기</a></div>
<div> </div>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/6SQCPSwf0L4" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>


<div><iframe width="640" height="360" src="https://www.youtube.com/embed/o845InvtxKk" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/4y9RJeS42Oc" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/DPDM1nhLLJw" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/NvWfJTbrTBY" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/huIWmnAT7BI" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/HxZvLRPF2j0" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/E38Cdod47Zc" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
<div><iframe width="640" height="360" src="https://www.youtube.com/embed/nchmLn2DHwc" frameborder="0" allowfullscreen></iframe></div>
<p><strong>감상평</strong></p>
<p><textarea rows="3" cols="50" placeholder="댓글을 남겨주세요. 악플은 삭제될 수 있습니다."></textarea>
<p><button type="submit">등록</button></p>
<p>{{ reply }} = 댓글자리</p>
</html>